body {
  font-family: "Titan One", sans-serif;
}

.container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 34px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 115px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts {
  font-family: 'DM Sans', sans-serif;
  background-color: #fff5f6;
}

@media screen and (min-width: 1280px) {
  .contacts {
    background-image: url("../images/contacts-webp/contacts-bg.webp");
    background-repeat: no-repeat;
    background-size: common;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url "../images/contacts-webp/contacts-bg-2x.webp";
  }
}

.contacts__container {
  position: relative;
  top: -84px;
}

@media screen and (min-width: 768px) {
  .contacts__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 768px;
    margin: 0 auto;
    position: relative;
    top: -78px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    top: -102px;
  }
}

.contacts__card {
  display: block;
  margin: 0 auto;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  width: 220px;
  padding: 43px 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .contacts__card {
    margin-bottom: 0;
    padding: 50px 32px;
  }
  .contacts__card:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__card {
    width: 330px;
    padding: 51px 53px 62px 43px;
  }
  .contacts__card:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts__title {
  font-size: 12px;
  line-height: 1.83333;
  letter-spacing: 0.04em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background-color: #f0d1a5;
  border-radius: 4px;
  width: 80px;
  height: 16px;
  margin-top: 0;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .contacts__title {
    width: 73px;
    height: 28px;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.04em;
  }
}

.contacts__truck {
  background-color: #c2e297;
  width: 130px;
}

@media screen and (min-width: 768px) {
  .contacts__truck {
    width: 138px;
  }
}

.location__city {
  font-size: 12px;
  line-height: 2.16667;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .location__city {
    font-size: 14px;
    line-height: 1.85714;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .location__city {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.04em;
  }
}

.location__text {
  font-size: 12px;
  line-height: 1.91667;
  letter-spacing: 0.02em;
  color: #907e82;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .location__text {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.64286;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1280px) {
  .location__text {
    font-size: 16px;
    line-height: 1.8125;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
  }
}

.contacts__location {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .contacts__location {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__location {
    margin-bottom: 32px;
  }
}

.week__day {
  font-size: 12px;
  line-height: 1.83333;
  letter-spacing: 0.02em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .week__day {
    font-size: 14px;
    line-height: 1.85714;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1280px) {
  .week__day {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.04em;
  }
}

.week__time {
  font-size: 12px;
  line-height: 1.83333;
  letter-spacing: 0.02em;
  color: #ffa5ba;
  margin-top: 0;
  margin-bottom: 25px;
}

.week__time:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .week__time {
    font-size: 14px;
    line-height: 1.85714;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
  }
  .week__time:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .week__time {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
  }
  .week__time:not(:last-child) {
    margin-bottom: 15px;
  }
}

.contacts__week {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .contacts__week {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__week {
    margin-bottom: 32px;
  }
}

.conection__link {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #907e82;
}

.conection__link:not(:last-child) {
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .conection__link {
    font-size: 14px;
    line-height: 1.85714;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1280px) {
  .conection__link {
    font-size: 16px;
    line-height: 1.8125;
    letter-spacing: 0.02em;
  }
}

.contacts__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 22px;
  margin: 0 auto;
  width: 162px;
  height: 44px;
  margin-bottom: 10px;
  padding-left: 16px;
  padding-right: 17px;
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__btn:hover, .contacts__btn:focus {
  background-color: #d41342;
}

.contacts__btn:hover span,
.contacts__btn:focus span {
  color: #fff;
}

.contacts__btn:hover .contacts__btn--icons,
.contacts__btn:focus .contacts__btn--icons {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .contacts__btn {
    margin: 0;
    padding: 0;
    margin-right: 15px;
    width: 192px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__btn {
    width: 198px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__franchise {
    width: 175px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__franchise {
    width: 180px;
  }
}

.contacts__btn--wrap {
  margin-top: 54px;
  position: relative;
  top: -84px;
}

@media screen and (min-width: 768px) {
  .contacts__btn--wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 81px;
    top: -78px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__btn--wrap {
    margin-top: 86px;
    top: -102px;
  }
}

.contacts__btn--text {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3125;
  letter-spacing: 0.02em;
  color: #d41443;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .contacts__btn--text {
    margin-right: 14px;
  }
}

.contacts__btn--icons {
  width: 8px;
  height: 8px;
  margin-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .contacts__btn--icons {
    margin-top: 2px;
  }
}

.contacts__btn:hover .contacts__btn--icons,
.contacts__btn:focus .contacts__btn--icons {
  fill: #ffffff;
}
/*# sourceMappingURL=main.css.map */